.nav-drawer {
    -fx-background-color: #c42828;
}

.nav-drawer .toggle-button {
    -fx-background-color: #c42828;
    -fx-border-width: 0;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #f0f0f0;
}

.nav-drawer .toggle-button.selected-button {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.nav-drawer .toggle-button:hover {
    -fx-background-color: #e74c3c;
    -fx-cursor: hand;
}

#nav-drawer .logo {
    -fx-preserve-ratio: true;
    -fx-fit-width: 200px;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #f0f0f0;
}

